<%- include('../partials/head', {titleName: 'Spaces'}) %>
<h1>Search for Twitter Spaces</h1>
<button onclick="redirect('/spacesapplication/login')">Login</button>
<%- include('../partials/foot', {scriptPath: 'assets/js/functions.js'}) %>