<%- include('../partials/head', {titleName: 'Spaces'}) %>
<h1>Search for Twitter Spaces</h1>
<button onclick="">Listen</button>
<%- include('../partials/foot', {scriptPath: 'assets/js/function.js'}) %>